*,
*::before,
*::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}


img {
    display: block;
    width: 360px;
    height: 200px;
}


.gallery {
    display: flex;
    width: 1440px;
    height: 696px;
    padding: 24px 156px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    margin: 0 auto;
    background-color: #fff;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}